body{
	font-family: Verdana, sans-serif;
	margin: 0px;
	background: white;
	border-bottom: none;
}

a{
	color: white;
	text-decoration: none;
}

.intro{
	width: 100%;

	position: relative;
 	text-align: center;
}

.introText{
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: white;
	font-size: 40px;
}

.exit{
	background: black;

}

.findMe{
	position: absolute;
	

}

.contactMe{
	position: absolute;
  top: 8px;
  right: 16px;

}

ul{
	color:white;
	font-size: 18px;
}

li{
	font-size: 12px;
}