.splide__slide{
  margin-top: 64px;
  margin-bottom: 64px;
}

.splide__slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.splide__slide H3 {
  text-align: center;
}

.splide__slide .desc{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 24px;
}

.splide__slide .desc li{
  list-style: none;
  text-align: left;
}